form {
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 1px black solid;

}

input {
  width: 40%;

}

button {
  width: 200px;
  border-radius: 15px;
}